# 튜플

파이썬에 내장되어 있는 컬렉션 자료형 중에서 튜플에 대해 알아 보자.  
튜플은 리스트와 거의 비슷하지만, 수정 불가능(immutable)하다는 점이 다르다.

튜플의 형식은 아래와 같다. 

> `(항목1, 항목2, 항목3, ...  항목n)`

소괄호(`()`)를 사용하고, 각 항목은 콤마(,)로 구분한다.

예를 들어, 1부터 10이하의 짝수를 담은 튜플 `even_numbers_tuple`를 만드는 코드는 아래와 같다.

In [ ]:
even_numbers_tuple = (2, 4, 6, 8, 10)
even_numbers_tuple

(2, 4, 6, 8, 10)

비슷하게, 문자열 a, b, c를 담은 리스트 `tuple_abc`는 아래와 같다.

In [ ]:
tuple_abc = ('a', 'b', 'c')
tuple_abc

('a', 'b', 'c')

리스트와 마찬가지로, 튜플도 서로 다른 자료형의 항목들을 포함할 수 있다.

In [ ]:
mixed_tuple = (1, 'abc', [2.5, 4.5], (1, 2))
mixed_tuple

(1, 'abc', [2.5, 4.5], (1, 2))

참고) 튜플도 중첩을 허용한다.

주의) 한 개의 항목을 가진 튜플을 만들 때는 항목 뒤에 콤마(,)를 반드시 붙여야 한다.

In [ ]:
a = (1)
print(a)
print(type(a))

1
<class 'int'>

In [ ]:
a_tuple = (1, )
print(a_tuple)
print(type(a_tuple))

(1,)
<class 'tuple'>

참고) 튜플을 만들 때 소괄호를 생략해도 된다. 하지만 기본적으로 소괄호를 사용한다.

In [ ]:
b_tuple = 10, 20, 30
print(b_tuple)
print(type(b_tuple))

(10, 20, 30)
<class 'tuple'>

## 튜플 연산

튜플은 사칙연산 중 덧셈과 곱셈 연산자를 사용할 수 있다.

In [ ]:
(1, 2) + (2, 3, 4)

(1, 2, 2, 3, 4)

In [ ]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 튜플의 길이

튜플의 길이는 `len()` 함수를 이용하여 확인할 수 있다.

In [ ]:
len((1, 2))

2

In [ ]:
tuple_abc = ("a", "b", "c")
len(tuple_abc)

3

## 튜플의 인덱싱과 슬라이싱 

튜플도 문자열처럼 인덱싱과 슬라이싱을 이용하여 각각의 항목 또는 여러 개의 항목에 대한 정보를 추출할 수 있다.

### 인덱싱

인덱스는 0부터 시작하며, 오른쪽으로 한 항목씩 이동할 때마다 증가한다.  
예제를 통해 살펴보자.

In [ ]:
a_tuple = (1, 2, 3, 4, 5)
a_tuple

(1, 2, 3, 4, 5)

2번 인덱스 값(즉, 셋째 항목)은 다음과 같이 확인한다.

In [ ]:
a_tuple[2]

3

가장 오른쪽 항목은 다음과 같이 확인한다.

In [ ]:
a_tuple[-1]

5

문자열, 리스트와 마찬가지로 튜플의 길이보다 같거나 큰 인덱스를 사용하면 오류가 발생한다.  
```python
>>> a_tuple[5]
a_tuple[5]
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-31-980543bad505> in <module>()
----> 1 a_tuple[5]

IndexError: tuple index out of range
```

1번 인덱스 값 `a_tuple[1]`과 2번 인덱스 값 `a_tuple[2]`를 곱하고 싶다면, 아래와 같이 할 수 있다.

In [ ]:
a_tuple[1] * a_tuple[2]

6

주의) `a_tuple[1]`와 `a_tuple[2]`의 자료형은 정수형으로 곱셈 연산이 가능하다.

In [ ]:
print(type(a_tuple[1]))
print(type(a_tuple[2]))

<class 'int'>
<class 'int'>

ex) 튜플은 중첩을 허용한다. 아래 튜플은 3중 튜플이다.   
`a_nested_tuple = (1, 2, (3, 4, (5, 6, 7)), 8)` 

위 튜플에서 5를 인덱스로 얻는 방법은?  
참고) 인덱싱을 연속해서 적용하면 된다.

In [ ]:
a_nested_tuple = (1, 2, (3, 4, (5, 6, 7)), 8)
a_nested_tuple[2][2][0]

5

### 슬라이싱

문자열, 리스트와 마찬가지로 튜플에서도 슬라이싱을 할 수 있다. 사용법도 동일하다.  
예제를 통해 살펴보자

In [ ]:
a = (1, 2, 3, 4, 5)
a[0 : 2] # 처음부터 2번 인덱스 전까지 추출

(1, 2)

In [ ]:
a[:2] #처음부터 2번 인덱스 전까지 추출

(1, 2)

In [ ]:
a[::2] #처음부터 하나씩 건너 추출

(1, 3, 5)

중첩 튜플에서도 슬라이싱 방법은 똑같이 적용된다.

## `tuple()` 함수

`tuple()` 함수를 이용하면 문자열 또는 리스트를 튜플로 만들 수 있다.

* 인자로 문자열을 넣으면, 각 문자를 항목으로 갖는 튜플이 만들어진다.

In [ ]:
tuple("abc")

('a', 'b', 'c')

* 인자로 리스트를 넣으면, 리스트와 항목이 같은 튜플이 만들어진다.

In [ ]:
tuple([1, 2, 3])

(1, 2, 3)

* 인자를 넣지 않으면 아무 것도 포함하지 않는 빈 튜플이 만들어진다.

In [ ]:
empty_tuple = tuple()
empty_tuple

()

## 불변자료형

튜플은 불변 자료형이다. 그래서 리스트와는 달리 인덱싱을 사용하여 튜플 특정 항목의 값을 변경할 수 없다.  

```python
>>> a = (1, 2, 3, 4, 5)
>>> print(a)
(1, 2, 3, 4, 5)
```

```python
>>> a[1] = 3
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-46-23f2cf2bdf70> in <module>()
----> 1 a[1] = 3

TypeError: 'tuple' object does not support item assignment
```

`del` 함수를 사용하여 튜플의 항목을 삭제하려고 해도 오류가 발생한다.   

```python
>>> del a[1]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-47-d982d7dc2a95> in <module>()
----> 1 del a[1]

TypeError: 'tuple' object doesn't support item deletion
```

## 튜플 관련 메소드 

튜플 자료형은 불변 자료형이라서 메소드가 별로 없다. 많이 사용되는 두 개의 메소드를 살펴보자.  
* `count()`
* `index()`

예제를 통해 각 메소드의 활용법을 간략하게 확인하다.  
먼저, 튜플을 하나 만들자.

In [ ]:
numbers = (1, 2, 3, 1, 2, 4, 5, 6, 3, 4, 5, 6)
numbers

(1, 2, 3, 1, 2, 4, 5, 6, 3, 4, 5, 6)

* `count()` 메소드는 튜플에 포함된 특정 항목이 몇 번 나타나는지를 세어준다.

In [ ]:
numbers.count(1)

2

* `index()` 메소드는 특정 항목의 인덱스가 몇 번인지 확인해준다.

In [ ]:
numbers.index(2)

1

참고) 여러 번 포함되어 있다면, `index()` 메소드는 가장 작은 인덱스를 리턴한다.

## 튜플 자료형 활용

* 절대로 변경되지 않거나 변경되어서는 안 되는 값들을 저장할 때 사용.  
ex) 생년월일, 학번 등등

In [ ]:
alice_birth = (2000, 12, 18)
alice_birth

(2000, 12, 18)

* 여러 개의 변수들에 여러 개의 값들을 한 줄에 동시에 할당하기 위해 사용

In [ ]:
a, b = 1, 2
print(a)
print(b)

1
2

튜플을 이용하면 두 변수에 할당된 값을 스왑(swap)하는 것이 매우 간단하다.

In [ ]:
a, b = b, a
print(a)
print(b)

2
1

* 여러 개의 값들을 리턴하는 함수를 정의할 때 사용  

함수의 리턴값은 무조건 하나이다. 예를 들어, 정수를 입력받아 입력받은 값의 제곱과 세제곱을 동시에 리턴하는 함수는 정의할 수 없다. 하지만, 두 개의 값을 튜플로 묶어서 하나의 값으로 리턴할 수는 있다.  

주의) 튜플을 만들 때, 소괄호 기호는 생략 가능하다.

In [2]:
def f(x) :
    return x**2, x**3

In [ ]:
print(f(2))
print(type(f(2)))

(4, 8)
<class 'tuple'>

이제 아래와 같이 리턴값 각각의 항목을 변수에 할당하여 사용할 수 있다.

In [ ]:
a, b = f(2)
print(a)
print(b)

4
8